<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{?Y:PageTitle?}</title>

<!-- Combo-handled YUI CSS files: -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css&2.8.2r1/build/base/base-min.css" />

</head>
<body class="root">
    <div id="doc4" class="yui-t7">
        <div id="hd">
            <h1>{?Y:PageTitle?} - Home</h1>
        </div>
    <div id="bd">
        <div class="yui-g">
            <h2>About</h2>
            {?Y:PageBody?}
            <h2>Renders</h2>
            {?Y:RenderOverviewer?}
            {?Y:RenderTectonicus?}
            {?Y:RenderImages?}
            {?Y:BackupList?}
        </div>
    </div>
    <div id="ft">
        <p>Powered by YAMS</p>
    </div>
    </div>
</body>
</html>