<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;"/>
    </assemblyBinding>
  </runtime>
    <appSettings>
        <add key="UnhandledExceptionManager/EmailTo"
           value="me@richardbenson.co.uk" />
        <add key="UnhandledExceptionManager/ContactInfo"
                   value="Richard Benson - me@richardbenson.co.uk" />
        <add key="UnhandledExceptionManager/IgnoreDebug" value="True" />
        <add key="UnhandledExceptionManager/SendEmail" value="False" />
        <add key="UnhandledExceptionManager/LogToFile" value="True" />
        <add key="UnhandledExceptionManager/LogToEventLog" value="True" />
        <add key="UnhandledExceptionManager/TakeScreenshot" value="False" />
        <add key="UnhandledExceptionManager/DisplayDialog" value="False" />
        <add key="UnhandledExceptionManager/EmailScreenshot" value="False" />
        <add key="UnhandledExceptionManager/KillAppOnException" value="True" />
    </appSettings>  
</configuration>