h1 { margin: 0 0 0.5em 0; }

.console-input, .command-input { padding: 2px; }

.log { width: 100%; overflow: auto; }

.message { font-size: 80%; }

.info { color: #666; }
.out { color: #999; }
.warn { color: #C60; }
.error { color:#FF0000; }
.chat { color:#000;}

#status p { margin-bottom: 0; }

#players { background-color: #fff; margin: 5px; overflow: auto; border: 1px solid #000; }

/* Menu */
em#yamslabel { text-indent: -6em; display: block; background: url(../images/YAMS-Icon.png) center center no-repeat; width: 2em; overflow: hidden; }
#filemenu.visible .yuimenuitemlabel, #editmenu.visible .yuimenuitemlabel { *zoom: 1; }
#filemenu.visible .yuimenu .yuimenuitemlabel { *zoom: normal; }            
.yui-skin-sam .yui-layout .yui-layout-unit-top .yui-layout-wrap div.yui-layout-bd {	border: none; }            