h1 { margin: 0 0 0.5em 0; }

.console-input, .command-input { padding: 2px; }

.log { width: 100%; overflow: auto; }

.message { font-size: 80%; }

.info { color: #666; }
.out { color: #999; }
.warn { color: #C60; }
.error { color:#FF0000; }
.chat { color:#000;}
